/*GLOBALS*/
/**screen widths**/
/**colors**/
/**mixins**/
@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes arcAnimation {
  99% {
    fill: none; }
  100% {
    fill: #378dbd; } }
@keyframes statSlideUp {
  0% {
    top: 0; }
  100% {
    top: -110%; } }
@keyframes statSlideDown {
  0% {
    bottom: 0; }
  100% {
    bottom: -110%; } }
@media (max-width: 991px) {
  #statsAnimationsContainer .statAnimationSegment {
    margin: 0 auto 4rem auto; }
    #statsAnimationsContainer .statAnimationSegment:last-child {
      margin: 0 auto; } }
#statsAnimationsContainer .statsAnimation {
  position: relative;
  width: 250px;
  height: auto;
  margin: 0 auto; }
  #statsAnimationsContainer .statsAnimation .statsText, #statsAnimationsContainer .statsAnimation .statsSubText {
    opacity: 0; }
    #statsAnimationsContainer .statsAnimation .statsText.opaAnimText, #statsAnimationsContainer .statsAnimation .statsSubText.opaAnimText {
      animation: opacityAnimation 1.2s forwards linear; }
    #statsAnimationsContainer .statsAnimation .statsText p, #statsAnimationsContainer .statsAnimation .statsSubText p {
      position: relative;
      text-align: center; }
  #statsAnimationsContainer .statsAnimation .barSvgAnim svg .arcsec, #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec {
    fill: none;
    stroke: #378dbd;
    stroke-miterlimit: 10; }
  #statsAnimationsContainer .statsAnimation .barSvgAnim .statsText, #statsAnimationsContainer .statsAnimation .arcSvgAnim .statsText {
    color: #0C234B; }
    #statsAnimationsContainer .statsAnimation .barSvgAnim .statsText p, #statsAnimationsContainer .statsAnimation .arcSvgAnim .statsText p {
      margin: 0;
      color: #0C234B;
      font-size: 36px;
      line-height: 43px; }
      #statsAnimationsContainer .statsAnimation .barSvgAnim .statsText p strong, #statsAnimationsContainer .statsAnimation .arcSvgAnim .statsText p strong {
        font-size: 64px;
        font-weight: bold;
        line-height: 66px;
        vertical-align: middle; }
  #statsAnimationsContainer .statsAnimation .arcSvgAnim {
    max-width: 115px; }
    #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec {
      fill: none;
      stroke: #378dbd;
      stroke-miterlimit: 10; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-0 {
        transform: translate(83.2%, -12.6%) rotate(72deg);
        -webkit-transform: translate(83.2%, -12.6%) rotate(72deg);
        -moz-transform: translate(83.2%, -12.6%) rotate(72deg);
        -o-transform: translate(83.2%, -12.6%) rotate(72deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-0.fill {
          animation: arcAnimation 0.000s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-1 {
        transform: translate(39.6%, -19%) rotate(36deg);
        -webkit-transform: translate(39.6%, -19%) rotate(36deg);
        -moz-transform: translate(39.6%, -19%) rotate(36deg);
        -o-transform: translate(39.6%, -19%) rotate(36deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-1.fill {
          animation: arcAnimation 0.07s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-2.fill {
        animation: arcAnimation 0.21s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-3 {
        transform: translate(-20%, 37.2%) rotate(-36deg);
        -webkit-transform: translate(-20%, 37.2%) rotate(-36deg);
        -moz-transform: translate(-20%, 37.2%) rotate(-36deg);
        -o-transform: translate(-20%, 37.2%) rotate(-36deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-3.fill {
          animation: arcAnimation 0.28s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-4 {
        transform: translate(-13%, 78.6%) rotate(-72deg);
        -webkit-transform: translate(-13%, 78.6%) rotate(-72deg);
        -moz-transform: translate(-13%, 78.6%) rotate(-72deg);
        -o-transform: translate(-13%, 78.6%) rotate(-72deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-4.fill {
          animation: arcAnimation 0.35s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-5 {
        transform: translate(18.2%, 108.2%) rotate(-108deg);
        -webkit-transform: translate(18.2%, 108.2%) rotate(-108deg);
        -moz-transform: translate(18.2%, 108.2%) rotate(-108deg);
        -o-transform: translate(18.2%, 108.2%) rotate(-108deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-5.fill {
          animation: arcAnimation 0.42s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-6 {
        transform: translate(62%, 114.6%) rotate(-144deg);
        -webkit-transform: translate(62%, 114.6%) rotate(-144deg);
        -moz-transform: translate(62%, 114.6%) rotate(-144deg);
        -o-transform: translate(62%, 114.6%) rotate(-144deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-6.fill {
          animation: arcAnimation 0.49s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-7 {
        transform: translate(101.6%, 95.6%) rotate(-180deg);
        -webkit-transform: translate(101.6%, 95.6%) rotate(-180deg);
        -moz-transform: translate(101.6%, 95.6%) rotate(-180deg);
        -o-transform: translate(101.6%, 95.6%) rotate(-180deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-7.fill {
          animation: arcAnimation 0.56s forwards linear; }
      #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-8 {
        transform: translate(121.5%, 58.4%) rotate(-216deg);
        -webkit-transform: translate(121.5%, 58.4%) rotate(-216deg);
        -moz-transform: translate(121.5%, 58.4%) rotate(-216deg);
        -o-transform: translate(121.5%, 58.4%) rotate(-216deg); }
        #statsAnimationsContainer .statsAnimation .arcSvgAnim svg .arcsec.cls-8.fill {
          animation: arcAnimation 0.63s forwards linear; }
    #statsAnimationsContainer .statsAnimation .arcSvgAnim .statsText {
      position: absolute;
      top: 48px;
      transform: translateY(-23px);
      -webkit-transform: translateY(-23px);
      -moz-transform: translateY(-23px);
      -o-transform: translateY(-23px);
      margin: 0 auto;
      left: 0;
      right: -32px;
      width: 220px; }
  #statsAnimationsContainer .statsAnimation .barSvgAnim {
    max-width: 150px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: auto; }
    #statsAnimationsContainer .statsAnimation .barSvgAnim svg .arcsec.cls-0.fill {
      animation: arcAnimation 0.21s forwards linear; }
    #statsAnimationsContainer .statsAnimation .barSvgAnim svg .arcsec.cls-1.fill {
      animation: arcAnimation 0.56s forwards linear; }
    #statsAnimationsContainer .statsAnimation .barSvgAnim .statsText {
      position: relative;
      margin: 4px auto 29px auto;
      text-align: center;
      width: 100%; }
      @media (max-width: 991px) {
        #statsAnimationsContainer .statsAnimation .barSvgAnim .statsText {
          margin: 4px auto 8px auto; } }

#willIGradContainer {
  position: relative;
  margin: 0 auto;
  float: none; }
  #willIGradContainer .willIGradArrowRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    @media (max-width: 991px) {
      #willIGradContainer .willIGradArrowRow {
        flex-direction: column-reverse; } }
    @media (max-width: 991px) {
      #willIGradContainer .willIGradArrowRow#willIGradArrowRowDown {
        flex-direction: column !important; } }
    #willIGradContainer .willIGradArrowRow#willIGradArrowRowDown .mainTextContainer {
      margin-top: 3rem; }
      @media (max-width: 991px) {
        #willIGradContainer .willIGradArrowRow#willIGradArrowRowDown .mainTextContainer {
          margin-top: 1rem; } }
    #willIGradContainer .willIGradArrowRow .willIGradArrowArea {
      position: relative;
      overflow: hidden;
      height: auto;
      background-color: #eff6fa; }
      #willIGradContainer .willIGradArrowRow .willIGradArrowArea .willIGradSlide {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #eff6fa;
        z-index: 5; }
      #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer {
        position: relative;
        display: block;
        margin: 0 auto; }
        #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer .willIgradArrow {
          width: 115px;
          height: 145px;
          margin: 0 auto;
          display: block;
          position: relative; }
          #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer .willIgradArrow:before {
            content: '';
            border-left: 90px solid transparent;
            border-right: 90px solid transparent;
            position: absolute;
            margin: 0 auto;
            left: -33px;
            right: 0;
            width: 90px; }
          #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer .willIgradArrow .arrowText, #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer .willIgradArrow .arrowMainText {
            display: block;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-size: 48px;
            font-weight: bold;
            line-height: 57px;
            text-align: center; }
          #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer .willIgradArrow .arrowText {
            color: #ffffff; }
          #willIGradContainer .willIGradArrowRow .willIGradArrowArea .arrowContainer .willIgradArrow .arrowMainText {
            background-color: #eff6fa; }
    #willIGradContainer .willIGradArrowRow .mainTextContainer {
      flex-grow: 1; }
    #willIGradContainer .willIGradArrowRow #willIGradAreaUp.willIGradArrowArea .willIGradSlide {
      top: 0; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaUp.willIGradArrowArea .willIGradSlide.opaAnimText {
        animation: statSlideUp 1.2s forwards linear; }
    #willIGradContainer .willIGradArrowRow #willIGradAreaUp.willIGradArrowArea .arrowContainer .willIgradArrow {
      background-color: #1E5288;
      margin: 90px auto 0 auto; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaUp.willIGradArrowArea .arrowContainer .willIgradArrow:before {
        border-bottom: 90px solid #1E5288;
        top: -90px; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaUp.willIGradArrowArea .arrowContainer .willIgradArrow .arrowText {
        left: 0;
        bottom: 83px; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaUp.willIGradArrowArea .arrowContainer .willIgradArrow .arrowMainText {
        color: #1E5288;
        bottom: 26px;
        left: -60px; }
    #willIGradContainer .willIGradArrowRow #willIGradAreaDown.willIGradArrowArea .willIGradSlide {
      bottom: 0; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaDown.willIGradArrowArea .willIGradSlide.opaAnimText {
        animation: statSlideDown 1.2s forwards linear; }
    #willIGradContainer .willIGradArrowRow #willIGradAreaDown.willIGradArrowArea .arrowContainer .willIgradArrow {
      background-color: #AB0520;
      margin: 0 auto 90px auto; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaDown.willIGradArrowArea .arrowContainer .willIgradArrow:before {
        border-top: 90px solid #AB0520;
        bottom: -90px; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaDown.willIGradArrowArea .arrowContainer .willIgradArrow .arrowText {
        top: 5px; }
      #willIGradContainer .willIGradArrowRow #willIGradAreaDown.willIGradArrowArea .arrowContainer .willIgradArrow .arrowMainText {
        color: #AB0520;
        top: 65px;
        left: -31px; }
  #willIGradContainer .verySpecialHrRow {
    position: relative;
    height: 2px;
    line-height: 0; }
    @media (max-width: 991px) {
      #willIGradContainer .verySpecialHrRow {
        width: 100%; } }
    #willIGradContainer .verySpecialHrRow .verySpecialHr {
      position: relative;
      vertical-align: middle;
      border-bottom: 2px dashed #000000; }
      @media (max-width: 991px) {
        #willIGradContainer .verySpecialHrRow .verySpecialHr {
          display: none;
          width: 100%;
          float: right;
          right: 140px; } }
    #willIGradContainer .verySpecialHrRow .verySpecialHrText {
      display: block;
      position: relative;
      line-height: 0;
      font-size: 20px;
      padding-left: 1.3rem;
      font-style: italic; }
      @media (max-width: 991px) {
        #willIGradContainer .verySpecialHrRow .verySpecialHrText {
          display: none;
          position: absolute;
          right: 0; } }
      @media (max-width: 991px) {
        #willIGradContainer .verySpecialHrRow .verySpecialHrText span {
          position: absolute;
          right: 0; } }
  #willIGradContainer .mainTextContainer {
    margin-top: 2rem;
    padding-left: 1.4rem; }

/*# sourceMappingURL=styles.css.map */
