/*GLOBALS*/
/**screen widths**/
$screen_micro: 320px;
$screen_sub_mini: 450px;
$screen_mini: 500px;
$screen_sup_mini: 580px;
$screen_sub_small: 680px; 
$screen_small: 768px;
$screen_medium: 1024px;
$screen_large: 1200px;
$screen_xlarge: 1800px;
/**colors**/
$bloom: #ef4056;
$uared: #ab0520;
$chili: #8b0015;
$sky: #81d3eb;
$oasis: #378dbd;
$azurite: #1e5288;
$uablue: #0c234b;
$midnight: #001c48;
$coolgrey: #e2e9eb;
$warmgrey: #f4ede5;
$leaf: #70b865;
$river: #007d84;
$silver: #9eabae;
$mesa: #a95c42;
/**mixins**/
@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';
	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};
		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation: $animations;
	-o-animation: $animations;
	animation: $animations;
}
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@keyframes opacityAnimation{
	0%{opacity:0;}
	30%{opacity:0;}
	80%{opacity:1;}
	100%{opacity:1;}
}
@keyframes arcAnimation{
	99%{fill:none;}
	100%{fill:#378dbd;}
}
@keyframes statSlideUp{
	0%{top:0;}
	100%{top:-110%;}
}
@keyframes statSlideDown{
	0%{bottom:0;}
	100%{bottom:-110%;}
}
#statsAnimationsContainer{
	.statAnimationSegment{
		@media(max-width:991px){
			margin:0 auto 4rem auto;
			&:last-child{
				margin: 0 auto;
			}
		}
	}
	.statsAnimation{
		position:relative;
		width:250px;
		height:auto;
		margin:0 auto;
		.statsText, .statsSubText{
			opacity:0;
			&.opaAnimText{
				animation:opacityAnimation 1.2s forwards linear; 
			}
			p{
				position:relative;
				text-align:center;
			}
		}
		.barSvgAnim, .arcSvgAnim{
			svg{
				.arcsec{
					fill:none;
					stroke:#378dbd;
					stroke-miterlimit:10;
				}
			}
			.statsText{
				color:#0C234B;
				p{
					margin:0;
					color:#0C234B;
					font-size:36px;
					line-height:43px;
					strong{
						font-size:64px;
						font-weight:bold;
						line-height:66px;
						vertical-align:middle;
					}
				}
			}
		}
		.arcSvgAnim{
			max-width:115px;
			svg{
				.arcsec{
					fill:none;
					stroke:#378dbd;
					stroke-miterlimit:10;
					&.cls-0{
						transform: translate(83.2%, -12.6%) rotate(72deg);
						-webkit-transform: translate(83.2%, -12.6%) rotate(72deg);
						-moz-transform: translate(83.2%, -12.6%) rotate(72deg);
						-o-transform: translate(83.2%, -12.6%) rotate(72deg);
						&.fill{
							animation:arcAnimation 0.000s forwards linear; 
						}
					}
					&.cls-1{
						transform: translate(39.6%, -19%) rotate(36deg);
						-webkit-transform: translate(39.6%, -19%) rotate(36deg);
						-moz-transform: translate(39.6%, -19%) rotate(36deg);
						-o-transform: translate(39.6%, -19%) rotate(36deg);
						&.fill{
							animation:arcAnimation 0.07s forwards linear; 
						}
					}
					&.cls-2{
						&.fill{
							animation:arcAnimation 0.21s forwards linear; 
						}
					}
					&.cls-3{
						transform: translate(-20%, 37.2%) rotate(-36deg);
						-webkit-transform: translate(-20%, 37.2%) rotate(-36deg);
						-moz-transform: translate(-20%, 37.2%) rotate(-36deg);
						-o-transform: translate(-20%, 37.2%) rotate(-36deg);
						&.fill{
							animation:arcAnimation 0.28s forwards linear; 
						}
					}
					&.cls-4{
						transform: translate(-13%, 78.6%) rotate(-72deg);
						-webkit-transform: translate(-13%, 78.6%) rotate(-72deg);
						-moz-transform: translate(-13%, 78.6%) rotate(-72deg);
						-o-transform: translate(-13%, 78.6%) rotate(-72deg);
						&.fill{
							animation:arcAnimation 0.35s forwards linear; 
						}
					}
					&.cls-5{
						transform: translate(18.2%, 108.2%) rotate(-108deg);
						-webkit-transform: translate(18.2%, 108.2%) rotate(-108deg);
						-moz-transform: translate(18.2%, 108.2%) rotate(-108deg);
						-o-transform: translate(18.2%, 108.2%) rotate(-108deg);
						&.fill{
							animation:arcAnimation 0.42s forwards linear; 
						}
					}
					&.cls-6{
						transform: translate(62%, 114.6%) rotate(-144deg);
						-webkit-transform: translate(62%, 114.6%) rotate(-144deg);
						-moz-transform: translate(62%, 114.6%) rotate(-144deg);
						-o-transform: translate(62%, 114.6%) rotate(-144deg);
						&.fill{
							animation:arcAnimation 0.49s forwards linear; 
						}
					}
					&.cls-7{
						transform: translate(101.6%, 95.6%) rotate(-180deg);
						-webkit-transform: translate(101.6%, 95.6%) rotate(-180deg);
						-moz-transform: translate(101.6%, 95.6%) rotate(-180deg);
						-o-transform: translate(101.6%, 95.6%) rotate(-180deg);
						&.fill{
							animation:arcAnimation 0.56s forwards linear; 
						}
					}
					&.cls-8{
						transform: translate(121.5%, 58.4%) rotate(-216deg);
						-webkit-transform: translate(121.5%, 58.4%) rotate(-216deg);
						-moz-transform: translate(121.5%, 58.4%) rotate(-216deg);
						-o-transform: translate(121.5%, 58.4%) rotate(-216deg);
						&.fill{
							animation:arcAnimation 0.63s forwards linear; 
						}
					}
				}
			}
			.statsText{
				position:absolute;
				top:48px;
				transform:translateY(-23px);
				-webkit-transform:translateY(-23px);
				-moz-transform:translateY(-23px);
				-o-transform:translateY(-23px);
				margin:0 auto;
				left:0;
				right:-32px;
				width:220px;
			}
		}
		.barSvgAnim{
			max-width:150px;
			position:relative;
			display:block;
			margin:0 auto;
			text-align:auto;
			svg{
				.arcsec{
					&.cls-0.fill{
						animation:arcAnimation 0.21s forwards linear; 
					}
					&.cls-1.fill{
						animation:arcAnimation 0.56s forwards linear; 
					}
				}
			}
			.statsText{
				position:relative;
				margin:4px auto 29px auto;
				text-align:center;
				width:100%;
				@media(max-width:991px){
					margin:4px auto 8px auto;
				}				
			}
		}
	}
}















#willIGradContainer{
	position:relative;
	margin:0 auto;
	float:none;
	.willIGradArrowRow{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:center;
		width:66.666%;
		margin:0 auto;
		@media(max-width:991px){
			flex-direction:column-reverse;
			width:100%;
		}
		&#willIGradArrowRowDown{
			@media(max-width:991px){
				flex-direction:column !important;
			}
			.mainTextContainer{
				margin-top:3rem;
				@media(max-width:991px){
					margin-top:1rem;
				}				
			}
		}
		.willIGradArrowArea{
			position:relative;
			overflow:hidden;
			height:auto;
			background-color:#eff6fa;
			.willIGradSlide{
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				right:0;
				margin:0 auto;
				background:#eff6fa;
				z-index:5;
			}
			.arrowContainer{
				position:relative;
				display:block;
				margin:0 auto;
				.willIgradArrow{
					width:115px;
					height:145px;
					margin:0 auto;
					display:block;
					position:relative;
					&:before{
						content: '';
						border-left: 90px solid transparent;
						border-right: 90px solid transparent;
						position: absolute;
						margin: 0 auto;
						left: -33px;
						right: 0;
						width:90px;
					}
					.arrowText, .arrowMainText{
						display:block;
						position:absolute;
						margin:0 auto;
						left:0;
						right:0;
						font-size:48px;
						font-weight:bold;
						line-height:57px;
						text-align:center;
					}
					.arrowText{
						color:#ffffff;
					}
					.arrowMainText{
						background-color:#eff6fa;
					}
				}
			}
		}
		.mainTextContainer{
			flex-grow:1;
		}
		#willIGradAreaUp{
			&.willIGradArrowArea{
				.willIGradSlide{
					top:0;
					&.opaAnimText{
						animation:statSlideUp 1.2s forwards linear; 
					}
				}
				.arrowContainer{
					.willIgradArrow{
						background-color:#1E5288;
						margin:90px auto 0 auto;
						&:before{
							border-bottom: 90px solid #1E5288;
							top: -90px;
						}
						.arrowText{
							left:0;
							bottom:83px;
						}
						.arrowMainText{
							color:#1E5288;
							bottom:26px;
							left:-60px;
						}
					}
				}
			}
		}
		#willIGradAreaDown{
			&.willIGradArrowArea{
				.willIGradSlide{
					bottom:0;
					&.opaAnimText{
						animation:statSlideDown 1.2s forwards linear; 
					}
				}
				.arrowContainer{
					.willIgradArrow{
						background-color:#AB0520;
						margin:0 auto 90px auto;
						&:before{
							border-top: 90px solid #AB0520;
							bottom: -90px;
						}
						.arrowText{
							top:5px;
						}
						.arrowMainText{
							color:#AB0520;
							top:65px;
							left:-31px;
						}
					}
				}
			}
		}
	}
	.verySpecialHrRow{
			position:relative;
			height:2px;
			line-height:0;
			margin:0 auto;
			width:66.666%;
			@media(max-width:991px){
				width:100%;
			}
		.verySpecialHr{
			position:relative;
			vertical-align:middle;
			border-bottom:2px dashed #000000;
			@media(max-width:991px){
				display:none;
				width:100%;
				float:right;
				right:140px;
			}
		}
		.verySpecialHrText{
			display:block;
			position:relative;
			line-height:0;
			font-size:20px;
			padding-left:1.3rem;
			font-style:italic;
			@media(max-width:991px){
				display:none;
				position:absolute;
				right:0;
			}
			span{
				@media(max-width:991px){
					position:absolute;
					right:0;
				}
			}
		}
	}
	.mainTextContainer{
		margin-top:2rem;
		padding-left:1.4rem;
	}
	.top-buffer-xs-50{
		margin-top:50px;
	}
}




